body {
  background-color: Orange;

.container{
    width: 90%;
    margin: 35px auto;
    background-color: #5A5A5A;
    padding: 25px;
    border-radius: 60px 0px 60px 0px;
}

.name{
    text-align: center;
    color: white;

}

.intro{
 color: white;
 text-align: center;
 border:3px 
 solid Orange;
 padding: 25px;
 border-radius: 50px 00px 50px 00px;
}


img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

}

