body {
    background: linear-gradient(to bottom, #00B050, #292929);
    font-family: "Noto Serif SemiBold", Serif, SemiBold;
}

.container {
    width: 90%;
    margin: 35px auto;
    background-color: #292929;
    padding: 25px;
    border-radius: 90px 0px 90px 0px;
    border-color: white;
    border-style: solid;
    border-width: thick;
}

.container2 {
    width: 90%;
    margin: 35px auto;
    background-color: #00B050;
    padding: 25px;
    border-radius: 90px 0px 90px 0px;
    border-color: #292929;
    border-style: solid;
    border-width: thick;
}

.container3 {
    width: 90%;
    margin: 35px auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 25px;
    border-radius: 90px 0px 90px 0px;
    border-color: #00B050;
    border-style: solid;
    border-width: thick;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    border-radius: 20%;
    border: 4px solid white;
}

.name {
    text-align: center;
    color: white;
}

.sub {
    color: white;
}

.sub1 {
    color: #00B050;
}

.sub2 {
    color: white;
}

.intro {
    color: #00B050;
    text-align: center;
}

.line {
    color: white;
}

.about {
    color: #00B050;
    text-align: center;
}

.skills {
    color: #292929;
}

.project {
    color: #292929;
}

.con {
    color: #00B050;
    text-align: center;
}

.tab {
    color: #00B050;
    border: 3px solid #00B050;
    padding: 5px;
    margin: auto;
}

.dark-mode {
    background: #292929;
    color: white;
}

.dark-mode .container {
    background-color: #111111;
    border-color: #00B050;
}

.dark-mode .container2 {
    background-color: #181818;
    border-color: #00B050;
}

.dark-mode .container3 {
    background-color: #111111;
    border-color: #00B050;
}

.dark-mode .about {
    color: #00B050;
}

.dark-mode .skills,
.dark-mode .project {
    color: white;
}

