body {
  background:linear-gradient(to bottom,orange, gray);

.container{
    width: 90%;
    margin: 35px auto;
    background-color: #5A5A5A;
    padding: 25px;
    border-radius: 60px 0px 60px 00px;
}

.box{
    border:3px
    solid Orange;
    padding: 25px;
    border-radius: 60px 0px 60px 00px;
    border-style: dotted;
    birder-width: thick;


}

img{
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 4px solid orange;
}


.name{
    text-align:center;
    color: white;

}

.sub{
color: white;
}

.intro{
 color: white;
 text-align: center;
 border:3px
 solid Orange;
 padding: 25px;
 border-radius: 50px 00px 00px 00px;
}

.about{
 color: white;
 text-align: center;
 border:3px
 solid Orange;
 padding: 25px;
 border-radius: 00px 00px 00px 00px;
}

.skills{
 color: white;
 border:3px
 solid Orange;
 padding: 25px;
 border-radius: 00px 00px 00px 00px;
}

.project{
 color: white;
 border:3px
 solid Orange;
 padding: 25px;
 border-radius: 00px 00px 60px 00px;
}

.con{
color: white;
text-align: center;
}

.tab{
 color: white;
 border: 3px
 solid Orange;
 padding: 5px;
 margin: auto;

}
}


/*background-color:Tomato
 border-style: dotted;
 birder-width: thick;
  background-color: #5A5A5A;
*/

